.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #36393f; /* dark Discord bg */
  color: white;
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

/* tambahkan class untuk h1 */
.title {
  margin-bottom: 2rem;
}

.discordButton {
  background-color: #5865f2;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.discordButton:hover {
  transform: scale(1.05);
  background-color: #4752c4;
}
